* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: whitesmoke;
}

.mainDiv {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 1000px;
    margin: 5px auto;
    background-color: white;
    height: 98vh;
}

.titleNameClass {
    padding: 2px;
}

#titleNameId {
    padding: 10px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    color: inherit;
}

hr {
    border-radius: 1px;
    margin: 2px auto;
    align-self: center;
    width: 99%;
}

h2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    margin: 5px 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: "Oswald";
}

.textArea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: auto;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: auto;
}

.formGroup {
    padding: 5px;
}

.btn {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    font-family: inherit;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin: -5px 2px 12px;
    float: right;
}

textarea {
    resize: none;
}

h3 {
    margin: -5px 2px 12px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Oswald";
}